$font-color: #2a2a2a;
$primary: #FD5825;
$border-black: 4px solid #2a2a2a;
$border-thin: 2px solid #2a2a2a;

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-y: scroll;

    ::selection { 
        background: $primary;
        color: white;
    }

    body {
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: $font-color;

        &:hover {
            color: $font-color;
            text-decoration: none;
        }
    }

    .index-heading {
        font-size: 1.65rem;
    }
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.has-border-top {
    border-top: $border-black;

    h2 {
        padding-top: 1.5rem;
        margin-bottom: 1.7rem;
    }

    h3, h4, h5 {
        padding-top: 1rem;
    }

    p {
        padding-top: 1rem;  
    }
}

.has-border-top-thin {
    border-top: $border-thin;

    h2 {
        padding-top: 1.5rem;
        margin-bottom: 1.7rem;
    }

    h3, h4, h5 {
        padding-top: 1rem;
    }

    p {
        padding-top: 1rem;  
    }
}

.navbar-item {
    padding: '0 .5rem';
    margin-right: 1.5rem;

    :last-child {
        margin-right: 0;
    }
}

.grid-1-1 {
    display: grid;
    width: 100%;
    grid-template-columns: calc(50% - 1.25rem) auto;
    gap: 2.5rem;
}

.grid-4-6 {
    display: grid;
    width: 100%;
    grid-template-columns: 35% auto;
    padding-top: 1rem,
}

.grid-works {
    display: grid;
    grid-template-columns: calc(35% - 2.5rem) auto;
    gap: 2.5rem;
    margin: -8rem auto 0;
}

.grid-works-reverse {
    display: grid;
    grid-template-columns: auto calc(35% - 2.5rem);
    gap: 2.5rem;
    margin: -8rem auto 0;
}

.mr-2-widescreen {
    margin-right: 2rem;
}

.grid-6-4 {
    display: grid;
    width: 100%;
    grid-template-columns: 65% auto;
    padding-top: 1rem;
}

.work-header {
    max-height: 520px;
}

.contact-item {
    padding: .75rem 0;
}

.nes-input, .nes-textarea {
    margin: 4px 0;
}

.nes-btn {
    margin: 4px 0;
}

.nes-progress {
    height: 30px;
}

@media only screen and (min-width: 768px) {
    .is-hidden-widescreen {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    #business,
    .about-vision {
        width: 65%;
        margin: 0 0 0 auto;
        padding-bottom: 8rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    html {
        .index-heading {
            font-size: 2.5rem;
        }
    }

    .work-header {
        max-height: 600px;
    }
}


@media only screen and (min-width: 1366px) {
    html {
        .index-heading {
            font-size: 3.5rem;
        }
    }

    .wrapper {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 2.5rem;
    }

    .work-header {
        max-height: 720px;
    }
}

@media only screen and (min-width: 1600px) {

    html {
        .index-heading {
            font-size: 4rem;
        }
    }

    .wrapper {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 2.5rem;
    }
}

@media only screen and (max-width: 768px) {

    body {
        font-size: .8rem;
    }

    h1 {
        font-size: 1.35rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    h4 {
        font-size: .95rem;
    }

    h5 {
        font-size: .85rem;
    }

    .has-border-top {
        h4 {
            padding-bottom: .5rem;
        }
    }

    .grid-4-6,
    .grid-6-4,
    .grid-1-1 {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: fit-content auto;
    }

    .grid-works,
    .grid-works-reverse {
        display: grid;
        grid-template-columns: none;
        gap: 0;
        margin: -5rem auto 0;
        padding: 0 1rem;
    }

    .mr-2-widescreen {
        margin-right: 0;
    }

    .mb-2-touch {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .is-hidden-touch {
        display: none;
    }
}