$font-color: #2a2a2a;
$primary: #FD5825;
$border-black: 4px solid #2a2a2a;

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 112.5%/1.45em 'Press Start 2P', cursive;
    box-sizing: border-box;
    overflow-y: scroll;

    ::selection { 
        background: $primary;
        color: white;
    }

    body {
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: $font-color;

        &:hover {
            color: $font-color;
            text-decoration: none;
        }
    }
}

.has-border-top {
    border-top: $border-black;

    h2 {
        padding-top: 1.5rem;
        margin-bottom: 1.7rem;
    }

    h3,h4 {
        padding-top: 1rem;
    }

    p {
        padding-top: 1rem;  
    }
}

@media only screen and (max-width: 767px) {

    .navbar-link {
        display: none;
    }
}